@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

.chat-date {
    text-align: center;
    margin: 10px 0;
    font-size: 0.8rem;
    color: #999;
}

.chat-date span {
    background-color: #3f3f46; /* zinc-700 */
    color: #d4d4d8; /* zinc-300 */
    padding: 5px 10px;
    border-radius: 10px;
}