@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

.chat-date {
    text-align: center;
    margin: 10px 0;
    font-size: 0.8rem;
    color: #999;
}

.chat-date span {
    background-color: #3f3f46; 
    color: #d4d4d8; 
    padding: 5px 10px;
    border-radius: 10px;
}

.typing-indicator {
    display: flex;
    align-items: center;
}

.typing-indicator span {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #9E9EA1;
    border-radius: 50%;
    display: inline-block;
    animation: typing-animation 1.4s infinite ease-in-out both;
}

.typing-indicator span:nth-child(1) {
    animation-delay: -0.32s;
}

.typing-indicator span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes typing-animation {
    0%, 80%, 100% {
        transform: scale(0);
    } 40% {
        transform: scale(1.0);
    }
}

.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    margin-left: 20px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent; 
}
